In [10]:
#print hello python 101
print("Hello python 101")

#typos de datos
#type int
type(11)

Hello python 101

int

In [14]:
type(1.1)

float

In [29]:
print(r"michael jackson\\ is the best")

michael jackson\\ is the best

In [33]:
A = "michael jackson is the best"
B =print(A.upper())

MICHAEL JACKSON IS THE BEST

In [35]:
A= "michael jackson is the best"
B=print(A.replace("michael","janet"))

janet jackson is the best

In [47]:
"0123456".find('1')

1

In [5]:
name="michael jackson"
name[0:8:2]

'mcal'

In [12]:
name= "michael jackson"
print("michael jackson\n is the best")

michael jackson
 is the best

In [16]:
name="michael jackson"
name.find("c")

2

In [17]:
name="michael jackson"
name.split()

['michael', 'jackson']

In [20]:
import re
s1= "michael jackson"
pattern=r"jackson"
result= re.search(pattern,s1)

if result:
    print("match found")

else:
    print("Not match found")

match found

In [22]:
pattern= r"\d\d\d\d\d\d\d\d\d\d"
text=" my phone is 1234567890"
match=re.search(pattern,text)
if match:
    print("phone number found", match.group())
    
else:
    print("not match")

phone number found 1234567890

In [33]:
pattern=r"\W"
text="Hello, World!"
matches =re.findall(pattern, text)
print("Matches:", matches)

Matches: [',', ' ', '!']

In [34]:
s2= "michael jackson was a singer  and know as the 'king of pop'"
result= re.findall("as",s2)
print(result)

['as', 'as']

In [36]:
split_array = re.split("\s",s2)
print(split_array)

['michael', 'jackson', 'was', 'a', 'singer', '', 'and', 'know', 'as', 'the', "'king", 'of', "pop'"]

In [37]:
pattern= r"king of pop"
replacement="legend"
new_string = re.sub(pattern,replacement,s2)
print(new_string)

michael jackson was a singer  and know as the 'legend'

In [41]:
name = "Lizz"
print(name[0:2])

Li

In [42]:
print("1"+"2")

12

In [4]:
A=(0,1,2,3)
A[0]

0

In [5]:
A=(0,1,2,3)
A[0]

0

In [6]:
B=["a","b","c"]
B[1:]

['b', 'c']

In [1]:
S={'A','B','C'}

U={'A','Z','C'}

U.union(S)

{'A', 'B', 'C', 'Z'}

In [3]:
Dict={"A":1,"B":"2","C":[3,3,3],"D":(4,4,4),'E':5,'F':6}
Dict["D"]

(4, 4, 4)

In [10]:
age= 18
if(age>18):
    print("you can enter")

elif(18==18):
    print("go see pink floyd")

else:
    print("go see meat loft")

print("move in")

go see pink floyd
move in

In [11]:
i = -1
i != 0

True

In [22]:
born= 1996

if born == int("born"/4):
    print("born in leap year")
else:
    print("wasn't born in leap year")

TypeError: unsupported operand type(s) for /: 'str' and 'int'

In [24]:
c=1996

if c== int():
    print("True")
else:
    print("Falso")

Falso

In [30]:
Annie=1996
Jane=1999
if Annie%4==0:
    print("Annie was bonr in leap year")
elif Jane%4==0:
    print("Jane was born in leap year")
    
else:
    print("None of them were born in a leap year")

Annie was bonr in leap year

In [2]:
age= 16

if age < 10:
    print("go to milk")
elif (age >= 10) and (age <= 14):
    print("go to sandwich")
else:
    print("go to hamburguer")

go to hamburguer

A=[3,4,5]

for a in A:

print(a)

In [3]:
A=[3,4,5]

for a in A:

print(a)

IndentationError: expected an indented block after 'for' statement on line 3 (3537586714.py, line 5)

In [1]:
x=3

y=1

while(y!=x):
    print(y)
    y=y + 1

1
2

In [4]:
dates = [1982,1980,1973]
N = len(dates)

for i in range(N):
    print(dates[i])

1982
1980
1973

In [7]:
year={1980,1900,1200}
for year in dates:  
    print(year)

1982
1980
1973

In [6]:
dates = [1982, 1980, 1973, 2000]

i=0

year= dates[0]

while (year != 1973):
    print(year)
    i = i+1
    year=dates[i]

1982
1980

In [29]:
Genres = ['rock', 'R&B', 'Soundtrack', 'R&B', 'soul', 'pop']
for Genre in Genres:
    print(Genre)

TypeError: 'list' object is not callable

In [23]:
squares=['red', 'yellow', 'green', 'purple', 'blue']

for i, square in enumerate(squares):
    print(i, square)

TypeError: 'list' object is not callable

In [15]:
B=["a","b","c"]
B[0:2]

['a', 'b']

In [30]:
Genres = ['rock', 'R&B', 'Soundtrack', 'R&B', 'soul', 'pop']
for Genre in Genres:
    print(Genre)

TypeError: 'list' object is not callable

In [1]:
squares={"red", "yellow", "green", "purple", "blue"}

for square in squares:
    print(square)

blue
green
purple
yellow
red

In [8]:
PlayListRatings = [10, 9.5, 10, 8, 7.5, 5, 10, 10]

i = 0
number = PlayListRatings[0]

while(number >=6):
    print(number)
    i = i + 1
    number=PlayListRatings[i]

10
9.5
10
8
7.5

In [7]:
PlayListRatings = [10, 9.5, 10, 8, 7.5, 5, 10, 10]
i = 0
rating = PlayListRatings[0]
while(i < len(PlayListRatings) and rating >= 6):
    print(rating)
    i = i + 1 
    rating = PlayListRatings[i]

10
9.5
10
8
7.5

In [14]:
squares = ['orange', 'orange', 'purple', 'blue ', 'orange']
new_squares = []
i=0

while(squares[i]=="orange"):
    new_squares.append(squares[i])
    i=i+1
print(new_squares)

['orange', 'orange']

In [15]:
quares = ['orange', 'orange', 'purple', 'blue ', 'orange']
new_squares = []
i = 0
while(i < len(squares) and squares[i] == 'orange'):
    new_squares.append(squares[i])
    i = i + 1
print (new_squares)

['orange', 'orange']

In [37]:

for i in range(0,11):
    print(i*6)

for i in range(11):
    print( "7*",i,"=",i*7)

0
6
12
18
24
30
36
42
48
54
60
7* 0 = 0
7* 1 = 7
7* 2 = 14
7* 3 = 21
7* 4 = 28
7* 5 = 35
7* 6 = 42
7* 7 = 49
7* 8 = 56
7* 9 = 63
7* 10 = 70

In [10]:
Animals = ["lion", "giraffe", "gorilla", "parrots", "crocodile","deer", "swan"]

new_list= []

i=0

while i<len(Animals):
        j=Animals[i]
        if(len(j)==7):
            new_list.append(j)
            i = i+1
print(new_list)

KeyboardInterrupt:

In [21]:

Animals = ["lion", "giraffe", "gorilla", "parrots", "crocodile","deer", "swan"]
New = []
i=0
while i<len(Animals):
    j=Animals[i]
    if(len(j)==7):
        New.append(j)
    i=i+1
print(New)

['giraffe', 'gorilla', 'parrots']

In [7]:
stuff:[10.0,8.5,9.5]

def printstuff(stuff):
    for i,s in enumerate(stuff):
        print("Album", i,"Rating",s)
    
Album_rating=[10.0,8.5,9.5]
printstuff(Album_rating)

Album 0 Rating 10.0
Album 1 Rating 8.5
Album 2 Rating 9.5

In [17]:
def artistnames(*names):
    for name in names:
        print(name)
        

artistnames("michael Jackson","AC/DC")

michael Jackson
AC/DC

In [30]:
def AddDC(x):
    x = x + "DC"
    print(x)
    

y="AC"
z=AddDC(y)

ACDC

In [35]:
def f(a,b):
    
    return a*b


a=4
b=2

if a*b==f(a,b):   
    print("Correct.")   
else:    
    print("Incorrect.")

Correct.

In [48]:

def g(c):

    return sum(c)

In [49]:
c=[1,2,3,4,5]

if sum(c)==g(c):   
    print("Correct.")   
else:    
    print("Incorrect.")

TypeError: sum() takes 0 positional arguments but 1 was given

In [52]:
a=1

def add(b):
    return a+b

c=add(10)
print(c)

11

In [55]:

def add(a):
    """
    add 1 to a
    """
    b = a + 1
    print(a, "if you add one", b)
    return(b)

In [56]:
add(2)

2 if you add one 3

3

In [58]:
def Mult(a,b):
    c= a*b
    return(c)


Mult(2,3)

6

In [61]:
def square(a):
    
    # Local variable b
    b = 1
    c = a * a + b

    return(c)
print(c)

11

In [62]:
def MJ():
    print('Michael Jackson')
    
def MJ1():
    print('Michael Jackson')
    return(None)

In [63]:
def con(a, b):
    return(a + b)

In [65]:
a1 = 4
b1 = 5
c1 = a1 + b1 + 2 * a1 * b1 - 1
print(c1)

48

In [67]:

a1 = 4
b1 = 5
c1 = a1 + b1 + 2 * a1 * b1 - 1
if(c1 < 0):
    c1 = 0 
else:
    c1 = 5

print(c1)

5

In [68]:

def freq(string):
    
    #step1: A list variable is declared and initialized to an empty list.
    words = []
    
    #step2: Break the string into list of words
    words = string.split() # or string.lower().split()
    
    #step3: Declare a dictionary
    Dict = {}
    
    #step4: Use for loop to iterate words and values to the dictionary
    for key in words:
        Dict[key] = words.count(key)
        
    #step5: Print the dictionary
    print("The Frequency of words is:",Dict)
    
#step6: Call function and pass string in it
freq("Mary had a little lamb Little lamb, little lamb Mary had a little lamb.Its fleece was white as snow And everywhere that Mary went Mary went, Mary went \
Everywhere that Mary went The lamb was sure to go")

The Frequency of words is: {'Mary': 6, 'had': 2, 'a': 2, 'little': 3, 'lamb': 3, 'Little': 1, 'lamb,': 1, 'lamb.Its': 1, 'fleece': 1, 'was': 2, 'white': 1, 'as': 1, 'snow': 1, 'And': 1, 'everywhere': 1, 'that': 2, 'went': 3, 'went,': 1, 'Everywhere': 1, 'The': 1, 'sure': 1, 'to': 1, 'go': 1}

In [69]:
#codigo para identificar variables locales y globales, las variables locales pesan internamente más, pero las goblales pesan mas afuera
myFavouriteBand = "AC/DC"

def getBandRating(bandname):
    myFavouriteBand = "Deep Purple"
    if bandname == myFavouriteBand:
        return 10.0
    else:
        return 0.0

print("AC/DC's rating is:",getBandRating("AC/DC"))
print("Deep Purple's rating is: ",getBandRating("Deep Purple"))
print("My favourite band is:",myFavouriteBand)

AC/DC's rating is: 0.0
Deep Purple's rating is:  10.0
My favourite band is: AC/DC

In [71]:
def divide(a,b):
    return(a/b)

In [103]:
#se necesitan contar la palabra "little"en la cadena

#progrma a python para contar la palabra "little"
def freq(string):
    # Se declara una variable de lista y se inicializa en una lista vacía.
    words = []
    #vamos a convertir la cadena en una lista utilizando la funcion split()
    words=string.split()
    # declaramos un diccionario 
    Dict = {}
    #utilizamos un bulce para iterar en las palabras y los valores del diccionario 
    for key in words:
        Dict[key]=words.count(key)
        
        
        
        print("The Frequency of words is:",Dict)
        
        

        

freq("Mary had a little lamb Little lamb, little lamb Mary had a little lamb.Its fleece was white as snow And everywhere that Mary went Mary went, Mary went Everywhere that Mary went The lamb was sure to go")

The Frequency of words is: {'Mary': 6}
The Frequency of words is: {'Mary': 6, 'had': 2}
The Frequency of words is: {'Mary': 6, 'had': 2, 'a': 2}
The Frequency of words is: {'Mary': 6, 'had': 2, 'a': 2, 'little': 3}
The Frequency of words is: {'Mary': 6, 'had': 2, 'a': 2, 'little': 3, 'lamb': 3}
The Frequency of words is: {'Mary': 6, 'had': 2, 'a': 2, 'little': 3, 'lamb': 3, 'Little': 1}
The Frequency of words is: {'Mary': 6, 'had': 2, 'a': 2, 'little': 3, 'lamb': 3, 'Little': 1, 'lamb,': 1}
The Frequency of words is: {'Mary': 6, 'had': 2, 'a': 2, 'little': 3, 'lamb': 3, 'Little': 1, 'lamb,': 1}
The Frequency of words is: {'Mary': 6, 'had': 2, 'a': 2, 'little': 3, 'lamb': 3, 'Little': 1, 'lamb,': 1}
The Frequency of words is: {'Mary': 6, 'had': 2, 'a': 2, 'little': 3, 'lamb': 3, 'Little': 1, 'lamb,': 1}
The Frequency of words is: {'Mary': 6, 'had': 2, 'a': 2, 'little': 3, 'lamb': 3, 'Little': 1, 'lamb,': 1}
The Frequency of words is: {'Mary': 6, 'had': 2, 'a': 2, 'little': 3, 'lamb': 3, 'Little': 1, 'lamb,': 1}
The Frequency of words is: {'Mary': 6, 'had': 2, 'a': 2, 'little': 3, 'lamb': 3, 'Little': 1, 'lamb,': 1}
The Frequency of words is: {'Mary': 6, 'had': 2, 'a': 2, 'little': 3, 'lamb': 3, 'Little': 1, 'lamb,': 1, 'lamb.Its': 1}
The Frequency of words is: {'Mary': 6, 'had': 2, 'a': 2, 'little': 3, 'lamb': 3, 'Little': 1, 'lamb,': 1, 'lamb.Its': 1, 'fleece': 1}
The Frequency of words is: {'Mary': 6, 'had': 2, 'a': 2, 'little': 3, 'lamb': 3, 'Little': 1, 'lamb,': 1, 'lamb.Its': 1, 'fleece': 1, 'was': 2}
The Frequency of words is: {'Mary': 6, 'had': 2, 'a': 2, 'little': 3, 'lamb': 3, 'Little': 1, 'lamb,': 1, 'lamb.Its': 1, 'fleece': 1, 'was': 2, 'white': 1}
The Frequency of words is: {'Mary': 6, 'had': 2, 'a': 2, 'little': 3, 'lamb': 3, 'Little': 1, 'lamb,': 1, 'lamb.Its': 1, 'fleece': 1, 'was': 2, 'white': 1, 'as': 1}
The Frequency of words is: {'Mary': 6, 'had': 2, 'a': 2, 'little': 3, 'lamb': 3, 'Little': 1, 'lamb,': 1, 'lamb.Its': 1, 'fleece': 1, 'was': 2, 'white': 1, 'as': 1, 'snow': 1}
The Frequency of words is: {'Mary': 6, 'had': 2, 'a': 2, 'little': 3, 'lamb': 3, 'Little': 1, 'lamb,': 1, 'lamb.Its': 1, 'fleece': 1, 'was': 2, 'white': 1, 'as': 1, 'snow': 1, 'And': 1}
The Frequency of words is: {'Mary': 6, 'had': 2, 'a': 2, 'little': 3, 'lamb': 3, 'Little': 1, 'lamb,': 1, 'lamb.Its': 1, 'fleece': 1, 'was': 2, 'white': 1, 'as': 1, 'snow': 1, 'And': 1, 'everywhere': 1}
The Frequency of words is: {'Mary': 6, 'had': 2, 'a': 2, 'little': 3, 'lamb': 3, 'Little': 1, 'lamb,': 1, 'lamb.Its': 1, 'fleece': 1, 'was': 2, 'white': 1, 'as': 1, 'snow': 1, 'And': 1, 'everywhere': 1, 'that': 2}
The Frequency of words is: {'Mary': 6, 'had': 2, 'a': 2, 'little': 3, 'lamb': 3, 'Little': 1, 'lamb,': 1, 'lamb.Its': 1, 'fleece': 1, 'was': 2, 'white': 1, 'as': 1, 'snow': 1, 'And': 1, 'everywhere': 1, 'that': 2}
The Frequency of words is: {'Mary': 6, 'had': 2, 'a': 2, 'little': 3, 'lamb': 3, 'Little': 1, 'lamb,': 1, 'lamb.Its': 1, 'fleece': 1, 'was': 2, 'white': 1, 'as': 1, 'snow': 1, 'And': 1, 'everywhere': 1, 'that': 2, 'went': 3}
The Frequency of words is: {'Mary': 6, 'had': 2, 'a': 2, 'little': 3, 'lamb': 3, 'Little': 1, 'lamb,': 1, 'lamb.Its': 1, 'fleece': 1, 'was': 2, 'white': 1, 'as': 1, 'snow': 1, 'And': 1, 'everywhere': 1, 'that': 2, 'went': 3}
The Frequency of words is: {'Mary': 6, 'had': 2, 'a': 2, 'little': 3, 'lamb': 3, 'Little': 1, 'lamb,': 1, 'lamb.Its': 1, 'fleece': 1, 'was': 2, 'white': 1, 'as': 1, 'snow': 1, 'And': 1, 'everywhere': 1, 'that': 2, 'went': 3, 'went,': 1}
The Frequency of words is: {'Mary': 6, 'had': 2, 'a': 2, 'little': 3, 'lamb': 3, 'Little': 1, 'lamb,': 1, 'lamb.Its': 1, 'fleece': 1, 'was': 2, 'white': 1, 'as': 1, 'snow': 1, 'And': 1, 'everywhere': 1, 'that': 2, 'went': 3, 'went,': 1}
The Frequency of words is: {'Mary': 6, 'had': 2, 'a': 2, 'little': 3, 'lamb': 3, 'Little': 1, 'lamb,': 1, 'lamb.Its': 1, 'fleece': 1, 'was': 2, 'white': 1, 'as': 1, 'snow': 1, 'And': 1, 'everywhere': 1, 'that': 2, 'went': 3, 'went,': 1}
The Frequency of words is: {'Mary': 6, 'had': 2, 'a': 2, 'little': 3, 'lamb': 3, 'Little': 1, 'lamb,': 1, 'lamb.Its': 1, 'fleece': 1, 'was': 2, 'white': 1, 'as': 1, 'snow': 1, 'And': 1, 'everywhere': 1, 'that': 2, 'went': 3, 'went,': 1, 'Everywhere': 1}
The Frequency of words is: {'Mary': 6, 'had': 2, 'a': 2, 'little': 3, 'lamb': 3, 'Little': 1, 'lamb,': 1, 'lamb.Its': 1, 'fleece': 1, 'was': 2, 'white': 1, 'as': 1, 'snow': 1, 'And': 1, 'everywhere': 1, 'that': 2, 'went': 3, 'went,': 1, 'Everywhere': 1}
The Frequency of words is: {'Mary': 6, 'had': 2, 'a': 2, 'little': 3, 'lamb': 3, 'Little': 1, 'lamb,': 1, 'lamb.Its': 1, 'fleece': 1, 'was': 2, 'white': 1, 'as': 1, 'snow': 1, 'And': 1, 'everywhere': 1, 'that': 2, 'went': 3, 'went,': 1, 'Everywhere': 1}
The Frequency of words is: {'Mary': 6, 'had': 2, 'a': 2, 'little': 3, 'lamb': 3, 'Little': 1, 'lamb,': 1, 'lamb.Its': 1, 'fleece': 1, 'was': 2, 'white': 1, 'as': 1, 'snow': 1, 'And': 1, 'everywhere': 1, 'that': 2, 'went': 3, 'went,': 1, 'Everywhere': 1}
The Frequency of words is: {'Mary': 6, 'had': 2, 'a': 2, 'little': 3, 'lamb': 3, 'Little': 1, 'lamb,': 1, 'lamb.Its': 1, 'fleece': 1, 'was': 2, 'white': 1, 'as': 1, 'snow': 1, 'And': 1, 'everywhere': 1, 'that': 2, 'went': 3, 'went,': 1, 'Everywhere': 1, 'The': 1}
The Frequency of words is: {'Mary': 6, 'had': 2, 'a': 2, 'little': 3, 'lamb': 3, 'Little': 1, 'lamb,': 1, 'lamb.Its': 1, 'fleece': 1, 'was': 2, 'white': 1, 'as': 1, 'snow': 1, 'And': 1, 'everywhere': 1, 'that': 2, 'went': 3, 'went,': 1, 'Everywhere': 1, 'The': 1}
The Frequency of words is: {'Mary': 6, 'had': 2, 'a': 2, 'little': 3, 'lamb': 3, 'Little': 1, 'lamb,': 1, 'lamb.Its': 1, 'fleece': 1, 'was': 2, 'white': 1, 'as': 1, 'snow': 1, 'And': 1, 'everywhere': 1, 'that': 2, 'went': 3, 'went,': 1, 'Everywhere': 1, 'The': 1}
The Frequency of words is: {'Mary': 6, 'had': 2, 'a': 2, 'little': 3, 'lamb': 3, 'Little': 1, 'lamb,': 1, 'lamb.Its': 1, 'fleece': 1, 'was': 2, 'white': 1, 'as': 1, 'snow': 1, 'And': 1, 'everywhere': 1, 'that': 2, 'went': 3, 'went,': 1, 'Everywhere': 1, 'The': 1, 'sure': 1}
The Frequency of words is: {'Mary': 6, 'had': 2, 'a': 2, 'little': 3, 'lamb': 3, 'Little': 1, 'lamb,': 1, 'lamb.Its': 1, 'fleece': 1, 'was': 2, 'white': 1, 'as': 1, 'snow': 1, 'And': 1, 'everywhere': 1, 'that': 2, 'went': 3, 'went,': 1, 'Everywhere': 1, 'The': 1, 'sure': 1, 'to': 1}
The Frequency of words is: {'Mary': 6, 'had': 2, 'a': 2, 'little': 3, 'lamb': 3, 'Little': 1, 'lamb,': 1, 'lamb.Its': 1, 'fleece': 1, 'was': 2, 'white': 1, 'as': 1, 'snow': 1, 'And': 1, 'everywhere': 1, 'that': 2, 'went': 3, 'went,': 1, 'Everywhere': 1, 'The': 1, 'sure': 1, 'to': 1, 'go': 1}

In [107]:

def freq(string,passedkey):

    #step1: A list variable is declared and initialized to an empty list.
    words = []

    #step2: Break the string into list of words
    words = string.split() # or string.lower().split()

    #step3: Declare a dictionary
    Dict = {}

    #step4: Use for loop to iterate words and values to the dictionary
    for key in words:
        if(key == passedkey):
            Dict[key] = words.count(key)   
    #step5: Print the dictionary
    print("Total Count:",Dict)

#step6: Call function and pass string in it
freq("Mary had a little lamb Little lamb, little lamb Mary had a little lamb.Its fleece was white as snow And everywhere that Mary went Mary went, Mary went \
Everywhere that Mary went The lamb was sure to go","little")

Total Count: {'little': 3}

In [4]:
#necesitamos definir que va hacer nuestra funcion 
def freq(string,passedkey):
    words=[]
    words=string.split()
    Dict={}
    for key in words:
        if(key==passedkey):
            Dict[key] = words.count(key)
    print("total count:",Dict)

freq("Mary had a little lamb Little lamb, little lamb Mary had a little lamb.Its fleece was white as snow And everywhere that Mary went Mary went, Mary went \
Everywhere that Mary went The lamb was sure to go","little")

total count: {'little': 3}

In [12]:
class Car(object):
    def __init__(self,make,model,color):
        self.make=make;
        self.model=model;
        self.color=color;
        self.owner_number=0 
    def car_info(self):
        print("make: ",self.make)
        print("model:", self.model)
        print("color:",self.color)
        print("number of owners:",self.owner_number)
    def sell(self):
        self.owner_number=self.owner_number+1
make="BMW"
model="M3"
color="red"

my_car = Car(make,model,color)

my_car.car_info()

for i in range(1):
    my_car.sell()

my_car.car_info()

make:  BMW
model: M3
color: red
number of owners: 0
make:  BMW
model: M3
color: red
number of owners: 1

In [24]:

class Circle(object):
    
    # Constructor
    def __init__(self, radius=3, color='blue'):
        self.radius = radius
        self.color = color 
    
    # Method
    def add_radius(self, r):
        self.radius = self.radius + r
        return(self.radius)
    
    # Method
    def drawCircle(self):
        plt.gca().add_patch(plt.Circle((0, 0), radius=self.radius, fc=self.color))
        plt.axis('scaled')
        plt.show()  
    
#circulo rojo de diferente radio 
redCircle=Circle(10,"red") 

#podemos utilizar la funcion dir para traer una listad con los metodos del objeto
dir(redCircle)

redCircle.radius
redCircle.color

redCircle.radius=10
redCircle.radius

print("radious of object:",redCircle.radius)
redCircle.add_radius(2)
print("radious of object of after applying the method add_radious(2):",redCircle.radius)

radious of object: 10
radious of object of after applying the method add_radious(2): 12

In [20]:
class Vehicle:
    color = "white"

    def __init__(self, max_speed, mileage):
        self.max_speed = max_speed
        self.mileage = mileage
        self.capacity = None
    
    def add_capacity(self,capacity):
        self.capacity= capacity 
        
    def display_properties(self):
        print("properties of the vehicle:")
        print("color:",self.color)
        print("max_speed:",self.max_speed)
        print("milaeage:",self.mileage)
        print("capacity:",self.capacity)

troca=Vehicle(200,50000)
troca.add_capacity(5)
troca.display_properties() 
#---------------------------

troca2=Vehicle(180,75000)
troca2.add_capacity(4)
troca2.display_properties()

properties of the vehicle:
color: white
max_speed: 200
milaeage: 50000
capacity: 5
properties of the vehicle:
color: white
max_speed: 180
milaeage: 75000
capacity: 4

In [12]:
class Vehicle:
    color="white"
    def __init__(self,max_speed,mileage):
        self.max_speed= max_speed
        self.mileage = mileage
        self.capacity = None 
    
    def add_capacity(self,capacity):
        self.capacity=capacity
     
    def display_properties(self):
         print("property_vehicles:")
         print("color:",self.color)
         print("max_speed:",self.max_speed)
         print("mileage:",self.mileage)
         print("capacity:",self.capacity)

troca= Vehicle(200,50000)
troca.add_capacity(5)
troca.display_properties()

property_vehicles:
color: white
max_speed: 200
mileage: 50000
capacity: 5

In [13]:
a = 1

try:
    b = int(input("Please enter a number to divide a"))
    a = a/b
    print("Success a=",a)
except ZeroDivisionError:
    print("The number you provided cant divide 1 because it is 0")
except ValueError:
    print("You did not provide a number")
except:
    print("Something went wrong")

In [2]:
def safe_divide(numerator,denominator):
    try:
        result = numerator / denominator
        return result
    except ZeroDivisionError:
        print("Error: Cannot divide by zero.")
        return None
# Test case
numerator=int(input("Enter the numerator value:-"))
denominator=int(input("Enter the denominator value:-"))
print(safe_divide(numerator,denominator))

In [1]:
def safe_divide(numerator,denominator):
    try:
        result= numerator / denominator 
        return result
    except zeroDivisioError:
        print("Error: cannot divide by zero")
        
numerator=int(input("enter a number for numerator"))
denominator=int(input("enter a number for denominator"))
print(safe_divide(numerator,denominator))

In [ ]:
def safe_multiple(number1, number2):
    try:
        result= number1 * number2
        return result
    except number1=! type(int):
        print("invalid input")

number1= int(input("enter a number para number1"))
   
number2= 2

print(safe_multiple(number1,number2))

In [2]:
x=1

if(x!=1):
    print('Hello')

else:
    print('Hi')

print('Mike')

Hi
Mike

In [4]:
A = ['1','2','3']

for a in A:
    print(2*a)

11
22
33

In [12]:
def Delta(x):
    if x==0:
        y=1
    else:
        y=0
    return(y)
x=0

In [15]:
b=[4,3,4,1,6,3,7,8,]

sort(b)

NameError: name 'sort' is not defined